<div class="center hero-unit">
  <h1>Welcome to ...</h1>

  <h2>
    <%= link_to image_tag("triptagglogo.png", alt: "Rails"), 'http://triptagg.herokuapp.com/' %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>