<% provide(:title, '1. Prepare') %>
<h1>Upcoming Events:</h1>
<ul>
	<li>Hacktivate Ed: <b>#hacktivateed</b></li>
	<ul>
		<li> When: <b>June 14-16, 2013.</b>
		</li>
		<li>
			Where:
			<b>
				SF Bay Area - Code for America  <br>
				155 9th St <br>
				San Francisco, CA 94103
		    </b>
		</li>
	</ul>

	<li>Temple Sinai Field Trip: <b>#architect_frem01</b></li>
	<ul>
		<li> When: <b>June 16, 2013.</b>
		</li>
		<li>
			Where:
			<b>
				 2808 Summit St <br>
				 Oakland, CA
		    </b>
		</li>
	</ul>
</ul>